body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 42px;
}
h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
select {
  display: block;
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  padding: 12px;
}
.container {
  max-width: 560px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  border-bottom: 1px grey rgba(0, 0, 0, 0.3);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}
.time {
  font-size: 50px;
  font-weight: 200;
  padding: 21px 20px;
}
.time small {
  font-size: 14px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
}
a {
  color: rgba(0, 0, 0, 0.5);
}

a:visited {
  color: rgba(0, 0, 0, 0.35);
}
